---
layout: default
news: true
---

<div class="ui basic vertical post segment">
    <div class="ui text container">
        <div class="ui divided items">
            {% for post in paginator.posts %}
                <div class="item">
                    <a class="image" href="{{ post.url | relative_url }}"><img src="{% if post.thumbnail %}{{ post.thumbnail | relative_url }}{% else %}{{ 'images/image.png' | relative_url }}{% endif %}" alt="thumbnail"></a>
                    <div class="content">
                        <a class="header" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                        <div class="meta">{{ post.date | date_to_long_string }}</div>
                        <div class="description">{{ post.excerpt }}</div>
                        <div class="extra"><a href="{{ post.url | relative_url }}">Keep reading...</a></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if paginator.total_pages > 1 %}
    <div class="ui basic vertical pagination segment">
        <div class="ui center aligned text container">
            <div class="ui horizontal link list">
                {% if paginator.total_pages > 10 %}
                    {% assign page_margin_right = paginator.total_pages | minus: 4 %}
                    {% if paginator.page <= 6 %}
                        {% assign page_start = 1 %}
                        {% assign page_end = 10 %}
                    {% elsif paginator.page < page_margin_right %}
                        {% assign page_start = paginator.page | minus: 5 %}
                        {% assign page_end = paginator.page | plus: 4 %}
                    {% else %}
                        {% assign page_start = paginator.total_pages | minus: 9 %}
                        {% assign page_end = paginator.total_pages %}
                    {% endif %}
                    {% if page_start > 1 %}
                        {% assign show_first_page = true %}
                        {% assign page_start = page_start | plus: 2 %}
                    {% else %}
                        {% assign show_first_page = false %}
                    {% endif %}
                    {% if page_end < paginator.total_pages %}
                        {% assign show_last_page = true %}
                        {% assign page_end = page_end | minus: 2 %}
                    {% else %}
                        {% assign show_last_page = false %}
                    {% endif %}
                {% else %}
                    {% assign page_start = 1 %}
                    {% assign page_end = paginator.total_pages %}
                {% endif %}
                {% if paginator.previous_page %}<a class="item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left fa-fw"></i></a>{% endif %}
                {% if show_first_page %}
                    <a class="item" href="{{ '/' | relative_url }}">1</a>
                    <div class="item"><i class="fa fa-ellipsis-h fa-fw"></i></div>
                {% endif %}
                {% for page in (page_start..page_end) %}
                    {% if page == paginator.page %}
                        <div class="item"><i class="fa fa-circle-o fa-fw"></i></div>
                    {% elsif page == 1 %}
                        <a class="item" href="{{ '/' | relative_url }}">{{ page }}</a>
                    {% else %}
                        <a class="item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                {% if show_last_page %}
                    <div class="item"><i class="fa fa-ellipsis-h fa-fw"></i></div>
                    <a class="item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">{{ paginator.total_pages }}</a>
                {% endif %}
                {% if paginator.next_page %}<a class="item" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-right fa-fw"></i></a>{% endif %}
            </div>
        </div>
    </div>
{% endif %}