---
layout: basic_page
title: 词汇建造师
meta: 内容大纲与基础材料构成
active_key: vb
---

{%- for category in site.data.syllabus.vb.categories -%}
    <h2 class="ui dividing header"><span class="ui teal text text-normal">{{ category.header }}</span></h2>
    {%- for section in category.sections -%}
        <h2 class="ui header"><span class="ui grey text text-normal">{{ section.header }}</span>{% if section.description %}<div class="ui horizontal label">{{ section.description }}</div>{% endif %}</h2>
        <div class="ui very relaxed items">
            {%- for sub_section in section.sub_sections -%}
                <div class="item">
                    <div class="content">
                        <div class="header">{{ sub_section.header }}</div>
                        {% if sub_section.description %}<div class="meta">{{ sub_section.description }}</div>{% endif %}
                        <div class="description">
                            {%- if sub_section.items -%}
                                {%- if sub_section.label_layout -%}
                                    <div class="ui labels">
                                        {%- for item in sub_section.items -%}
                                            <div class="ui label">{% if item.icon %}<i class="{{ item.icon }} icon"></i>{% endif %}{{ item.name }}{% if item.description %}<div class="detail">{{ item.description }}</div>{% endif %}</div>
                                        {%- endfor -%}
                                    </div>
                                {%- else -%}
                                    {%- for item in sub_section.items -%}
                                        <div>{% if item.icon %}<i class="{{ item.icon }} icon"></i>{% endif %}{{ item.name }}{% if item.description %}：<span class="ui grey text">{{ item.description }}</span>{% endif %}{% if item.details %}：{% endif %}</div>
                                        {%- if item.details -%}
                                            <div class="ui bulleted list">
                                                {%- for detail in item.details -%}
                                                    <div class="item"><span class="ui grey text">{{ detail }}</span></div>
                                                {%- endfor -%}
                                            </div>
                                        {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    {%- endfor -%}
{%- endfor -%}