<div class="ui basic vertical footer segment">
    <div class="ui center aligned text container">
        <div class="ui horizontal link list">
            <a class="item" href="{{ '/' | relative_url }}"><i class="fa fa-home fa-fw"></i>Home</a>
            <a class="item" href="{{ site.organization_url }}" target="_blank"><i class="fa fa-copyright fa-fw"></i>2011-{{ site.time | date: "%Y" }} {{ site.organization }} 版权所有</a>
            <a class="item" href="http://www.miitbeian.gov.cn/" target="_blank"><i class="fa fa-shield fa-fw"></i>京ICP备11017771号</a>
        </div>
    </div>
</div>