<div class="ui basic vertical footer segment">
    <div class="ui center aligned text container">
        <div class="ui horizontal link list">
            <a class="item" href="{{ '/feed.xml' | relative_url }}"><i class="fa fa-feed fa-fw"></i>订阅</a>
            <a class="item" href="http://www.miitbeian.gov.cn/" target="_blank"><i class="fa fa-shield fa-fw"></i>京ICP备11017771号</a>
            <div class="item"><i class="fa fa-copyright fa-fw"></i>2011-{{ site.time | date: "%Y" }} {{ site.organization }} 版权所有</div>
        </div>
    </div>
</div>