<div class="ui footer vertical segment">
    <div class="ui center aligned container">
        <div class="ui horizontal link list">
            <a class="item" href="https://legacy.y-english.org/" target="_blank"><i class="arrow right icon"></i>旧版</a>
            <a class="item" href="{{ '/feed.xml' | relative_url }}"><i class="rss icon"></i>订阅</a>
            <a class="item" href="http://www.miitbeian.gov.cn/" target="_blank"><i class="shield alternate icon"></i>京ICP备11017771号</a>
        </div>
        <div><i class="copyright outline icon"></i>2011-{{ site.time | date: "%Y" }} {{ site.organization }} 版权所有</div>
    </div>
</div>