<a class="{% if page.news %}active {% endif %}item" href="{{ '/' | relative_url }}">新闻</a>
<a class="{% if page.perspective %}active {% endif %}item" href="{{ '/perspective/' | relative_url }}">观点</a>
<a class="{% if page.academic %}active {% endif %}item" href="{{ '/academic/' | relative_url }}">学术</a>
<a class="{% if page.feedback %}active {% endif %}item" href="{{ '/feedback/' | relative_url }}">感言</a>
<a class="{% if page.vb %}active {% endif %}item" href="{{ '/vb/' | relative_url }}">VB简介</a>
<a class="{% if page.y_gre %}active {% endif %}item" href="{{ '/y-gre/' | relative_url }}">Y-GRE简介</a>
<a class="{% if page.team %}active {% endif %}item" href="{{ '/team/' | relative_url }}">云英语团队</a>
<a class="{% if page.contact %}active {% endif %}item" href="{{ '/contact/' | relative_url }}">联系我们</a>