<div class="item">
    <a class="image" href="{{ post.url | relative_url }}"><img src="{% if post.thumbnail %}{{ post.thumbnail | relative_url }}{% else %}{{ 'images/image.png' | relative_url }}{% endif %}" alt="thumbnail"></a>
    <div class="content">
        <a class="header" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <div class="meta">{% if page.active_key == 'event' %}{{ post.date | date_to_long_string }}{% else %}{{ post.meta }}{% endif %}</div>
        <div class="description">{{ post.excerpt }}</div>
        <div class="extra"><a href="{{ post.url | relative_url }}"><i class="right arrow icon"></i>继续阅读</a></div>
    </div>
</div>