/* tetris.css */

svg g.tetris-piece polygon {
    fill: #E0E1E2;
}

svg g.tetris-piece:hover polygon {
    fill: #DB1919;
}

svg g.tetris-piece g.text {
    fill: rgba(0,0,0,.6);
}

svg g.tetris-piece:hover g.text {
    fill: #FFF;
}
