/* tetris.css */

svg .tetris-piece polygon {
    fill: #E0E1E2;
}

svg .tetris-piece:hover polygon {
    fill: #CACBCD;
}

svg .tetris-piece .text {
    fill: rgba(0,0,0,.6);
}

svg .tetris-piece:hover .text {
    fill: rgba(0,0,0,.8);
}